body {
    font-family: "Poppins", sans-serif;
    color: #22343d;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;}

    .address {
        font-style: normal;     
}
    .button {
        border: none;
        cursor: pointer;
    }
    /* font-family: "Inter",
    sans-serif;
    font-family: "Montserrat",
    sans-serif;
    font-family: "Roboto",
    sans-serif; */


.container{ 
max-width: 1150px;
padding: 0 20px 0 20px;
margin: 0 auto;
}

/* Header */
.header .container{
display: flex;
align-items: center;
gap: 73px;
}

.header-navigation{
display: flex;
gap: 237px;
align-items: center;
}

.header-logo{
font-weight: 700;
font-size: 30px;
line-height: 0.93;
color: #173a56;
display: flex;
align-items: center;
gap: 16px;
}

.image-logo{
width: 39px;
height: 36px;
}
.header-menu-list{
display: flex;
column-gap: 30px;
align-items: center;
}

.header-menu-link{
font-weight: 400;
font-size: 16px;
line-height: 1.75;
color: #22343d;
padding-top: 26px;
padding-bottom: 26px;
display: block;
}

.current{
font-weight: 600;
}
.header-button-list{
display: flex;
gap: 21px;
}

.header-button-item{
font-weight: 600;
font-size: 16px;
text-align: center;
color: #173a56;
background-color: #fff;
height: 42px;
border: 1px solid #bcd0e5;
border-radius: 4px;
}

/* .header-button:hover,
.header-button:focus{
  background-color: #008080;  
}     */
.sign-in{
color: #173a56;
width: 105px;
background-color: #fff;
box-shadow: 2px 2px 2px 2px
   #d0d3d3;
border:none
}

.sign-in:hover,
.sign-in:focus{
   background-color: #008080;
   color: #fff;
   box-shadow: 8px 5px 5px 3px
   #b6b9b9;
   border:none
}

.sign-up{
    color: #fff;
    background: #02897a;
    width: 113px;
    box-shadow: 2px 2px 2px 2px
   #d0d3d3;
}
.sign-up:hover,
.sign-up:focus,
.hero-watch:hover,
.hero-watch:focus{
   background-color: #fff;
   color: #008080;
   box-shadow: 8px 5px 5px 3px
   #b6b9b9;
   border:none
}


/* Hero */
.hero {
    padding: 25px 0 50px ;
    background-color: #f5f9fa;
}
.hero .container{
display: flex;
align-items: center;
gap: 35px;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 45px; 
}

.hero-button-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-button{
    font-size: 16px;
    border-radius: 4px;
}
.hero-get {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 178px;
    height: 53px;
    background: #02897a;
    box-shadow: 2px 2px 2px 2px
   #d0d3d3;
}
.hero-watch {
font-weight: 600;
font-size: 16px;
border-radius: 4px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #02897a;
background-color: #fff;
width: 164px;
height: 53px;
background-color: inherit;
box-shadow: 2px 2px 2px 2px
#d0d3d3;
}

.hero-img {}

/* Product Built  */

.product-built {
    padding: 50px 0 100px;
    background-color: #f5f9fa;
    
}

.product-built .container {
padding: 0 145px;

}
.title-product-built {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 70px;
    
}
.box-icon {
    border-radius: 15px;
    width: 54px;
    height: 54px;
    margin-bottom: 18px;
}   
.product-built-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.product-built-item {
    color:#f5f9fa
}
.green {
background: #02897a;

}
.blue {
background: #4d8dff;
}
.violett {
background: #740a76;
}
.red {
background: #f03e3d;
}
.product-built-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 15px;
}

.product-built-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.product-button {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 175px;
    height: 53px;
    background: #02897a;
    border-radius: 4px;
    display: block;
    margin: 0 auto; 
}

/* Management */
.management {
    padding: 50px 0 50px;
}
.management-container{
    display: flex;
    gap: 84px;
}
 .management .aktiv{
font-weight: 600;
font-size: 16px;
color: #22343d;
margin-bottom: 8px;
display: block;
}


.management-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.management-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}

.management-list {
    display: inline-block;
    align-items: center;
    margin-bottom: 100px;
}

.management-item {
    margin-bottom: 25px;
}

.management-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin: 12px;
}

.management-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

/* Customer Support */
.customer-support{
padding-bottom: 100px;
}
.customer-support .container{
    display: flex;
    gap: 23px;
}
.customer-text-wrap{
    
}
.customer-support .aktiv{
font-weight: 600;
font-size: 16px;
color: #22343d;
margin-bottom: 8px;
display: flex;
}

.customer-support-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.customer-support-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}

.customer-support-list {
 display: block;
}
.box-icon2{
border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
}
.customer-support-item {
    display: flex;
    align-items: center;
}
.yellow {
background-color: #f90;
}
.red{
background-color: #f03e3d;
}
.blue{
background-color: #4d8dff;
}
.customer-support-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

/* Collaborative */
.collaborative{
    padding-bottom: 150px;
}
.collaborative.container {
    display: flex;
    align-items: center;
    gap: 84px;
}
.container{

}
.collaborative-text-wrap{

}
.collaborative-title {
   font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
    
}
.optimisation-span {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;
    display: block;
}
.collaborative-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}

.collaborative-list {
   
}

.collaborative-item {

}

.collaborative-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #22343d;
    
}

.collaborative-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}
.collaboration-image {
    max-width: 100%;
    height: auto;
    display: block;
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    /* отступ сверху */
    margin-left: 84px;
    /* отступ слева от контента */
}
.collaboration-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Quick & Easy Process  */
.process.container {
    display: flex;
    align-items: center;
}

.container {
    
}

.process-main-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.process-main-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: center;
        color: #22343d;
        margin-bottom: 64px;
}
.container-wrap{
    display: flex;
    align-items: center;
}
.process-list {
    display: inline-flex;
        align-items: center;
}

.process-item {
    display: flex;
    align-items: center;
    gap: 91px;
    flex-wrap: wrap;
}

.process-description {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}





.process-button {
    color: #fff;
        background: #02897a;
        width: 113px;
        box-shadow: 2px 2px 2px 2px #d0d3d3;
        margin-bottom: 100px;
}
.process-button:hover,
.process-button:focus {
    background-color: #fff;
        color: #008080;
        box-shadow: 8px 5px 5px 3px #b6b9b9;
        border: none
}

/* Contents Strategies */

.strategies {

}

.main-strategies-title {
font-weight: 700;
font-size: 34px;
color: #22343d;
margin-bottom: 10px;
}

.main-strategies-text {
font-weight: 500;
font-size: 16px;
line-height: 1.625;
color: #22343d;
margin-bottom: 40px;
}

.container-strategies {}

.main-strategies-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.strategies-item {
    
}

.strategies-description {
 font-weight: 400;
font-size: 16px;
line-height: 1.75;
color: #22343d;
margin-bottom: 12px;
}
.name{
 font-weight: 700;   
}
.strategies-title {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.66667;
        color: #22343d;
}



