body {
    font-family: "Poppins", sans-serif;
    color: #22343d;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

h1, h2, h3, h4, h5, h6, p,{
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;}

    .address {
        font-style: normal;     
}
    .button {
        border: none;
        cursor: pointer;
    }
    /* font-family: "Inter",
    sans-serif;
    font-family: "Montserrat",
    sans-serif;
    font-family: "Roboto",
    sans-serif; */


.container{ 
max-width: 1150px;
padding: 0 20px 0 20px;
margin: 0 auto;
}

/* Header */
.header .container{
display: flex;
align-items: center;
gap: 73px;
}

.header-navigation{
display: flex;
gap: 237px;
align-items: center;
}

.header-logo{
font-weight: 700;
font-size: 30px;
line-height: 0.93;
color: #173a56;
display: flex;
align-items: center;
gap: 16px;
}

.image-logo{
width: 39px;
height: 36px;
}
.header-menu-list{
display: flex;
column-gap: 30px;
align-items: center;
}

.header-menu-link{
font-weight: 400;
font-size: 16px;
line-height: 1.75;
color: #22343d;
padding-top: 26px;
padding-bottom: 26px;
display: block;
}

.current{
font-weight: 600;
}
.header-button-list{
display: flex;
gap: 21px;
}

.header-button-item{
font-weight: 600;
font-size: 16px;
text-align: center;
color: #173a56;
background-color: #fff;
height: 42px;
border: 1px solid #bcd0e5;
border-radius: 4px;
}

/* .header-button:hover,
.header-button:focus{
  background-color: #008080;  
}     */
.sign-in{
color: #173a56;
width: 105px;
background-color: #fff;
box-shadow: 2px 2px 2px 2px
   #d0d3d3;
border:none
}

.sign-in:hover,
.sign-in:focus{
   background-color: #008080;
   color: #fff;
   box-shadow: 8px 5px 5px 3px
   #b6b9b9;
   border:none
}

.sign-up{
    color: #fff;
    background: #02897a;
    width: 113px;
    box-shadow: 2px 2px 2px 2px
   #d0d3d3;
}
.sign-up:hover,
.sign-up:focus,
.hero-watch:hover,
.hero-watch:focus{
   background-color: #fff;
   color: #008080;
   box-shadow: 8px 5px 5px 3px
   #b6b9b9;
   border:none
}


/* Hero */
.hero {
    padding: 25px 0 50px ;
    background-color: #f5f9fa;
}
.hero .container{
display: flex;
align-items: center;
gap: 35px;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 45px; 
}

.hero-button-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-button{
    font-size; 16px;
    border-radius: 4px;
}
.hero-get {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 178px;
    height: 53px;
    background: #02897a;
    box-shadow: 2px 2px 2px 2px
   #d0d3d3;
}
.hero-watch {
font-weight: 600;
font-size: 16px;
border-radius: 4px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #02897a;
background-color: #fff;
width: 164px;
height: 53px;
background-color: inherit;
box-shadow: 2px 2px 2px 2px
#d0d3d3;
}

.hero-img {}

/* Product Built  */

.product-built {
    padding: 50px 0 100px;
    background-color: #f5f9fa;
    
}

.product-built .container {

}
.title-product-built {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 70px;
}
.box-icon {
    border-radius: 15px;
    width: 54px;
    height: 54px;
    margin-bottom: 18px;
}   
.product-built-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.product-built-item {}
.green {
background: #02897a;
}
.blue {
background: #4d8dff;
}
.violett {
background: #740a76;
}
.red {
background: #f03e3d;
}
.product-built-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 15px;
}

.product-built-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.product-button {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 175px;
    height: 53px;
    background: #02897a;
    border-radius: 4px;
    display: block;
    margin: 0 auto; 
}

/* Management */
.management {
    
}
 .management .aktiv{
font-weight: 600;
font-size: 16px;
color: #22343d;
}


.management-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.management-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.management-list {}

.management-item {}

.management-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.management-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

/* Customer Support */
.customer-support {}

.customer-support .aktiv{
font-weight: 600;
font-size: 16px;
color: #22343d;
}

.customer-support-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.customer-support-text {}

.customer-support-list {}

.customer-support-item {}

.customer-support-description {}

/* Collaborative */

.collaborative {}

.collaborative-title {}

.collaborative-text {}

.collaborative-list {}

.collaborative-item {}

.collaborative-subtitle {}

.collaborative-description {}